@import '../theme/styles/variables';

.pages-container {
  display: flex;
  height: 100%;
  overflow: hidden !important;
  .sidenav-content {
    width: 100%;
    .menu-button {
      width: 5%;
    }
    .breadcrumb {
      width: 95%;
    }
    .page {
      padding: 20px;
      height: calc(100% - $tool-bar-height - 20px * 2);
    }
  }
}
