<mat-sidenav-container class="pages-container">
  <mat-sidenav #sidenav [mode]="'side'" [(opened)]="sidenavOpen">
    <mat-toolbar color="primary">
      <p>Prueba Tecnica</p>
    </mat-toolbar>
    <div fxLayout="column" fxLayoutAlign="start center">
      <button mat-button [routerLink]="['/']"><mat-icon>dashboard</mat-icon> Publicaciones</button>
      <button mat-button [routerLink]="['/mantenimiento']">
        <mat-icon>settings</mat-icon> Mantenimiento
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary" fxLayout="row">
      <button class="menu-button" mat-button (click)="openSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <app-breadcrumb class="breadcrumb" fxLayoutAlign="center center"></app-breadcrumb>
    </mat-toolbar>
    <div class="page">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
