.breadcrumb{
    padding: 5px;
    font-size: 14px;
    color: white;
    .mat-card {
        background-color: transparent
    } 
    .mat-icon{
        font-size: 20px;
        // height: 20px;
        width: 20px;
        padding: 0 6px;
        color: white;
    }
    .breadcrumb-title.active{ 
        text-transform: uppercase;
        font-weight: 500;
        color: white;
    }
    .breadcrumb-item+.breadcrumb-item:before{
        display: inline-block;
        padding-right: .5rem;
        padding-left: .5rem;
        content: "/";
        color: white;
    }
}

.text {
    color: white;
}