@import '../../theme/styles/variables';

.container-post {
  height: calc(100% - $tool-bar-height);
  .post {
    padding: 20px;
    .title {
      .data-user {
        width: 75%;
      }
    }
    .body {
      margin-top: 20px;
    }
    .comments {
      margin-top: 10px;
      .comment {
        padding: 10px;
      }
    }
  }
}
