$font-family: 'Cascadia Code';
$font-size: 14px;

// Variables de ToolBar Horixontal
$horizontal-tool-bar-height: 35px;

// Variables de ToolBar Vertical
$vertical-tool-bar-width: 50px;
$button-open-sidenav-top: 50%;

// Variables Menu vertical
$vertical-menu-width: 400px;
